<html>
<head>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/actions.js') }}"></script>
<style>

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
</style>
</head>
<body>
<form id="newtvshow">
Name:<input type="text" name="name" id="name">
Finale:<input type="text" name="finale" id="finale">
</form>
<button onclick="tvshowcreate()">Add</button><br>
{% for tvshow in tvshows|sort(attribute='name') %}
{% if tvshow.image != '' %}
 {% set imgsrc = "https://www.thetvdb.com/banners/" + tvshow.image %}
{% else %}
 {% set imgsrc = url_for('static', filename='images/NA.png') %}
{% endif %}
<div class="gallery">
  <!--a target="_blank" href="/info?name={{ tvshow.name }}"-->
      <img src="{{ imgsrc }}" title="{{ tvshow.finale }}" alt="N/A" width="600" height="400">
  <!--/a!-->
  <div class="desc">{{ tvshow.name }}</div>
</div>
{% endfor %}
</body>
</html>
