<html>
{% include "head.html" %}
<body>
<div id="wheel"></div>
<div class='notifications top-right'></div>
<div><h3>Browse over the banner of your favorite show to get a possible finale... or write your own!!!</h3><div><p>
<form id="newtvshow">
  Name:   <input type="text" name="name" id="name" required><br>
  Finale: <input type="finale" name="finale" id="finale" required><br>
</form>
<input type="submit" value="Submit" onclick="tvshowcreate()"><br>
<div id="tvshows" cellspacing="0" width="100%">Loading data....</div>
<script>
$(document).ready(tvshowslist);
</script>
</body>
</html>
